* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
  height: 91px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-heading,
.navbar-project-heading {
  margin: 0;
}

.navbar-heading {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 20px;
}

.navbar-project-heading {
  color: #DEEBF8;
  font-weight: 600;
}

.react-icon {
  height: 30px;
  margin-right: 7px;
  background-color: transparent;
}

.main-container {
  height: 459px;
  background: #282D35;
  color: #FFFFFF;
  padding: 57px 27px;
  background-image: url(/images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main-heading {
  font-style: normal;
  font-size: 39px;
  line-height: 47px;
  letter-spacing: -0.05em;
  margin: 0;
}

.main-list-container>li::marker {
  margin-top: 40px;
  max-width: 400px;
  font-size: 1.4em;
  color: #61DAFB;
}

ul>li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-block: 10px;
}